<a href="https://colab.research.google.com/github/marcelopaludetto/challenge/blob/main/ideas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [15]:
dados = pd.read_csv('https://raw.githubusercontent.com/marcelopaludetto/challenge/main/Comparativos%20-%20Matr%C3%ADculas%20e%20Concluintes.csv', sep=';')

dados2 = pd.read_csv('https://raw.githubusercontent.com/marcelopaludetto/challenge/main/Comparativos%20de%20M%C3%A9tricas%20ao%20longo%20dos%20anos.csv',sep=';')

dados3 = pd.read_csv('https://raw.githubusercontent.com/marcelopaludetto/challenge/main/Rela%C3%A7%C3%A3o%20Matr%C3%ADculas_Fun%C3%A7%C3%A3o%20Docente.csv', sep=';')

In [22]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ano Censo                     591 non-null    int64
 1   Categoria Administrativa      591 non-null    object
 2   Sub Categoria Administrativa  591 non-null    object
 3   Id Categoria Administrativa   591 non-null    int64
 4   Número de Matrículas          591 non-null    int64
 5   Número de Concluintes         591 non-null    int64
 6   Grau Acadêmico                591 non-null    object
 7   Modalidade Ensino             591 non-null    object
 8   Organização Acadêmica         591 non-null    object
dtypes: int64(4), object(5)
memory usage: 41.7+ KB

In [17]:
dados.columns

Index(['Ano Censo', 'Categoria Administrativa', 'Sub Categoria Administrativa',
       'Id Categoria Administrativa', 'Número de Matrículas',
       'Número de Concluintes', 'Grau Acadêmico', 'Modalidade Ensino',
       'Organização Acadêmica'],
      dtype='object')

In [21]:
dados2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Ano Censo                    57 non-null     int64
 1   Número de Vagas Oferecidas   55 non-null     float64
 2   Número de Tipo de Ingressos  46 non-null     float64
 3   Número de Matrículas         57 non-null     int64
 4   Número de Concluintes        57 non-null     int64
 5   Número de Inscritos          55 non-null     float64
 6   Número de Cursos             54 non-null     float64
 7   Nome Região                  57 non-null     object
dtypes: float64(4), int64(3), object(1)
memory usage: 3.7+ KB

In [20]:
dados3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 6 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Ano Censo                                        108 non-null    int64
 1   Número de Matrículas                             108 non-null    int64
 2   Número de Funções Docentes                       108 non-null    int64
 3   Relação Matrículas/Funções Docente em Exercício  108 non-null    object
 4   Organização Acadêmica                            108 non-null    object
 5   Categoria Administrativa                         108 non-null    object
dtypes: int64(3), object(3)
memory usage: 5.2+ KB